.locations_list_header{
    border-bottom: 2px solid grey;  
    padding-bottom: 20px;
    margin-bottom: 0px;
}
.locations_list_items > p{
    margin-bottom: 0px;
    margin-left: 0px;
}
.locations_list_row {
    margin-top: 0px;
}
.sidebar {
    background: rgb(131,15,7);
    background: linear-gradient(180deg, rgba(131,15,7,1) 0%, rgba(108,11,4,1) 100%);
    color: white;
    padding: 10px;
}
.sidebar > h4 {
    border-bottom: 3px solid white;
}